html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
}
body {
  background: linear-gradient(to bottom, #a8c4dc, #e7ecf0);
  background: -webkit-linear-gradient(to bottom, #a8c4dc, #e7ecf0);
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  overflow: hidden;
  height: 100%;
  margin: 0px;
}

.left_section_list_elem p {
  text-indent: 15px;
}

p {
  text-indent: 25px;
}

body::before {
  position: absolute;
  top: 0;
  width: 100%;
  content: '';
  border-top: 0.22rem solid #427aa9;
  z-index: 7;
}

.container {
  /*width: 80rem !important;*/
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  height: 100%;
  box-shadow: 0 0 24px rgba(0,0,0,0.15);
}
@media (max-width: 1288px) {
  .container {
    width: 100%;
  }
}

.container .left {
  display: flex;
  flex-direction: column;
  width: 310px;
  background: #fff;
  border-right: 1px solid #ebebeb;
  height: 100%;

}
@media (max-width: 400px) {
  .container .left {
    transform: translate3d(-330px, 0, 0);
    transition: all 1s;
    -webkit-transition: all 1s;
    -webkit-transition-duration: all 1s;
    -o-transition-duration: all 1s;
    -moz-transition-duration: all 1s;
    -webkit-transform: translate3d(-330px, 0, 0);
    box-shadow: 0 0.625rem 1.875rem 0 rgba(0,0,0,0.15), 0 0 0 1px rgba(0,0,0,0.15);
    visibility: hidden;
    width: 1px;
  }
}

.container .left_header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ebebeb;
  padding: 2px;
  background-color: white;
}

.container .left_header_top {
  display: flex;
  height: 2.5rem;
  align-items: center;
}
.container .left_header_top p:nth-child(1) {
  flex: 1;
  width: 30px;
  height: 30px;
  background-color: #417aa7;
  background: url("../img/back.png") no-repeat;
  background-size: 30px 30px;
  cursor: pointer;
}

.container .left_header_top .orders_quantity {
  flex: 2;
  color: #606d76;
  font-size: 0.9rem;
}
.container .left_header_bottom {
  display: flex;
  border: 1px solid lightgray;
  height: 1.4rem;
  justify-content: flex-end;
}
.container .left_header_bottom input[type='text'] {
  border: none; 
  outline: none; 
  -webkit-appearance: none;
  width: 15rem;
  font-style: italic;
  height: 87%;
}

.container .left_header_bottom:hover {
  border-color: #427cac;
  border-width: 1px;
}

.container .left_header_bottom input[type="button"]{
  outline: 0;
  outline-offset: 0;
}

.container .left_header_bottom input[name="icons_search"] {
  width: 23px;
  border: none;
  background: url("../img/search.png") no-repeat;
  background-size: 23px 20px;
  cursor: pointer;
}

.container .left_header_bottom input[name="icons_refresh"] {
  width: 23px;
  border: none;
  background: url("../img/refresh.png") no-repeat;
  background-size: 22px 19px;
  cursor: pointer;
}

.container .left_section {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
}

.container .left_section_list {
  display: flex;
  flex-direction: column;
}
.container .left_section_list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container .left_section_list li {
  border-bottom: 1px solid #ebebeb;
  padding: 15px 0px;
}
/*
.container .left_section_list ul .hidden{
  display: none;
}
*/
.container .left_section_list li:hover {
  background: #f0f0f0;
  cursor: pointer;
}

.container .left_section_list ul .active {
  background-color: #e8eff6;
}
.container .left_section_list ul .active .left_section_list_elem_right p:nth-child(2) {
  color: #e58d05 !important;
}
.container .left_section_list_elem {
  display: flex;
  flex-direction: row;
}
.container .left_section_list_elem_left {
  display: flex;
  flex-direction: column;
  line-height: 0;
  padding-right: 1.8rem;
}
.container .left_section_list_elem_left .order_id {
  font-size: 1rem;
}
.container .left_section_list_elem_left .customer,
.container .left_section_list_elem_left .shippedAt {
  color: #606d76;
}

.container .left_section_list_elem_right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.container .left_section_list_elem_right p {
  margin: 5px;

}
.container .left_section_list_elem_right .createdAt {
  font-size: 1.2rem;
}
.container .left_section_list_elem_right .status {
  color: #307a2b;
}
.container .left_footer {
  display: flex;
  flex: 0 0 auto;
  height: 2.5rem;
  background-color: #2f3c48;
  text-shadow: none;
  color: #fff;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.container .left_footer .icons_add_order {
  width: 25px;
  height: 25px;
  background-color: #417aa7;
  background: url("../img/white_plus.png") no-repeat;
  background-size: 25px 25px;
  padding-right: 15px;
  cursor: pointer;
}

.container .left_footer .icons_filter {
  width: 25px;
  height: 25px;
  background-color: #417aa7;
  background: url("../img/filter.png") no-repeat;
  background-size: 25px 25px;
  padding-right: 15px;
  cursor: pointer;
}
.container .left_footer .icons_select {
  width: 25px;
  height: 25px;
  background-color: #417aa7;
  background: url("../img/select.png") no-repeat;
  background-size: 30px 25px;
  cursor: pointer;
}

.container .right {
  display: flex;
  width: 60rem;
  height: 100%;  
}
.container .right_bck {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container .right_bck_header {
  display: flex;
  flex-direction: column;
  background-color: #eff4f9;
  height: 2.5rem;
  color: #606d76;
  text-align: center;
  font-size: 0.9rem;
  border-bottom: 1px solid #cedeeb;
}
.container .right_bck_section {
  flex-direction: column;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fafafa;
}
*::-webkit-scrollbar {
  width: 12px;
  background-color: white;
}
*::-webkit-scrollbar-thumb {
  background-color: #b2b2b2;
}

.container .right_bck_section_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #eff4f9;
  padding-top: 13px;
}

.container .right_bck_section_top .notFoundImg{
  width: 350px;
  height: 250px;
  margin-left: 100px;
  background: url("../img/not_found.png") no-repeat;
}

.container .right_bck_section_top_left {
  padding-bottom: 20px;
}

.container .right_bck_section_top_left .order_id {
  font-size: 1.2rem;
  padding-bottom: 11px;
}
.container .right_bck_section_top_left .customer,
.container .right_bck_section_top_left .createdAt,
.container .right_bck_section_top_left .shippedAt {
  color: #606d76;
}
.container .right_bck_section_top_right {
  font-size: 1.2rem;
  color: #606d76;
  line-height: 4px;
  padding: 7px 25px;
  flex-shrink: 0;
}
.container .right_bck_section_top_right .total_price {
  font-size: 1.2rem;
}
.container .right_bck_section_top_right p:nth-child(2) {
  text-align: right;
  font-size: 0.8rem;
}
.container .right_bck_section_middle {
  display: flex;
  flex-direction: row;
  background-color: #eff4f9;
  border-bottom: 2px solid #cedeeb;
  padding-left: 10px
}
.container .right_bck_section_middle .active .icons_line {
  border: 1px solid #417aa7;
}
.container .right_bck_section_middle .tools {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 0px 10px;
}
.container .right_bck_section_middle .icons_car {
  width: 50px;
  height: 60px;
  background-color: #417aa7;
  margin-bottom: 10px;
  background: url("../img/car.png") no-repeat;
  background-size: 53px 55px;
  cursor: pointer;
}

.container .right_bck_section_middle .icons_map {
  width: 50px;
  height: 60px;
  background-color: #417aa7;
  margin-bottom: 10px;
  background: url("../img/info.png") no-repeat;
  background-size: 50px 52px;
  cursor: pointer;
}

.container .right_bck_section_middle .icons_customer {
  width: 50px;
  height: 60px;
  background-color: #417aa7;
  margin-bottom: 10px;
  background: url("../img/man.png") no-repeat;
  background-size: 50px 47px;
  cursor: pointer;
}

.container .right_bck_section_shipping {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-bottom: 2px solid #cedeeb;
  padding-top: 15px;
  padding-bottom: 15px;
}
.container .right_bck_section_shipping .tool_title {
  display: flex;
  align-items: center;
}

.container .right_bck_section_shipping p:nth-child(1) {
  font-size: 1rem;
}

.right_bck_section_shipping  .icons_edit {
  width: 30px;
  height: 25px;
  background-color: #417aa7;
  background: url("../img/edit.png") no-repeat;
  background-size: 30px 25px;
  cursor: pointer;
  margin-left: 10px;
}

.right_bck_section_shipping  .icons_save {
  width: 30px;
  height: 25px;
  background-color: #417aa7;
  background: url("../img/save.png") no-repeat;
  background-size: 30px 25px;
  cursor: pointer;
  margin-left: 10px;
}

.right_bck_section_shipping  .icons_cancel {
  width: 30px;
  height: 25px;
  background-color: #417aa7;
  background: url("../img/cancel.png") no-repeat;
  background-size: 30px 25px;
  cursor: pointer;
}

.container .right_bck_section_shipping .detail-info {
  display: flex;
  line-height: 0.4;
  border-top: 1px solid #cecece;
  margin: 0 15px;
  padding-left: 100px;
  font-size: 0.8rem;
  padding-bottom: 20px;
}
.container .right_bck_section_shipping .detail-info p,
.container .right_bck_section_shipping .detail-info:nth-child(1) {
  font-size: 0.8rem;
  padding-top: 3px;
}
.container .right_bck_section_shipping .detail-info .color-gray {
  color: #606d76;
}

.right_bck_section_shipping .editable_form {
  padding-top: 5px;
  padding-left: 20px;
}

.right_bck_section_shipping .editable_form input[type='text']{
  height: 0.9rem;
  margin: 1px 0;
}

.container .right_bck_section_table .table {
  background-color: #fafafa;
  box-sizing: border-box;
  padding: 15px;
}

.container .right_bck_section_table .table p:nth-child(1) {
  margin-left: -10px;
}

.container .right_bck_section_table .tsearch {
  display: flex;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
}

.container .right_bck_section_table input[type='text'] {
  font-style: italic;
  height: 1.1rem;
  width: 100%;
}

.container .right_bck_section_table .icons_add_product {
  width: 30px;
  height: 25px;
  background-color: #417aa7;
  background: url("../img/blue_plus.png") no-repeat;
  background-size: 30px 25px;
  cursor: pointer;
}

.container .right_bck_section_table table {
  background-color: #fff;
  margin: 10px;
  width: 97%;
  border-collapse: collapse;
  font-size: 0.8rem;
}

.container .right_bck_section_table th {
  background-color: #f7f7f7;
  border-top: 2px solid #ebebeb;
  border-bottom: 2px solid #ebebeb;
  font-weight: normal;
  width: 20%;
  padding: 0 10px;
}
.container .right_bck_section_table th:hover {
 background-color: #e8eff6;
 border-radius: 15px;
}

.container .right_bck_section_table .remove_cell {
  width: 3%;
  padding-right: 0;
}

.container .right_bck_section_table .remove_cell:hover {
  background-color: #f7f7f7;
  border-radius: 0;
}

.container .right_bck_section_table td {
  padding: 0 10px;
}
.container .right_bck_section_table .thead {
  height: 1.9rem;
}
.container .right_bck_section_table tr {
  border-bottom: 1px solid #ebebeb;
  height: 2.7rem;
}

.container .right_bck_section_table .icons_remove_product {
  width: 30px;
  height: 25px;
  background-color: #417aa7;
  background: url("../img/blue_delete.png") no-repeat;
  background-size: 30px 25px;
  cursor: pointer;
}

.container .right_bck_footer {
  display: flex;
  flex: 0 0 auto;
  height: 2.5rem;
  background-color: #2f3c48;
  text-shadow: none;
  color: #fff;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px;
}

.container .right_bck_footer .icons_remove_order{
  width: 30px;
  height: 25px;
  background-color: #417aa7;
  background: url("../img/white_delete.png") no-repeat;
  background-size: 30px 25px;
  cursor: pointer;
}

.container .right_bck_footer .icons_share{
  width: 30px;
  height: 25px;
  background-color: #417aa7;
  background: url("../img/share.png") no-repeat;
  background-size: 30px 25px;
  cursor: pointer;
}

.font-mid {
  font-size: 1rem;
}

.right-align {
  text-align: right;  
}

.left-align {
  text-align: left;  
}

.color-gray {
  color: #606d76;
}

.hidden {
  display: none !important;
}

#map {
  padding-top: 10px;
  width: 300px;
  height: 300px;
}
.red {
  background-color: #FFC7BD;
}
/* Modal window*/
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal_content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.close {
  color: #417aa7;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

.modal_header {
  padding: 2px 10px;
  background-color: #eff4f9;
  color: black;
  font-size: 1.2rem;
}

.modal_header p {
  margin-top: 10px;
  margin-bottom: 5px;
}

.modal_body {
  display: block;
  padding: 30px 30px;
}

.modal form label {

  width: 110px;
  float: left;
}

.modal_footer {
  height: 1.5rem;
  background-color: #417aa7;
}